
.todo-item {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.todo-item.done {
  color: #999;
}

.todo-item > div {
  pointer-events: none;
}

.todo-item > .todo-mark {
  display: block;
  height: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30px;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-indent: -999px;
  overflow: hidden;
  border: 1px solid #c9c9c9;
  background: transparent;
}

.todo-item > .todo-mark:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5);
  -webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 0.5);
}

.todo-item > .todo-title {
  padding-top: 3px;
  margin-left: 10px;
}

.todo-item.done > .todo-mark:before {
  background-color: rgba(50, 50, 50, 0.2);
  transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
  -webkit-transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
  transform: scale(1);
  -webkit-transform: scale(1);
}

.todo-item.done > .todo-title {
  text-decoration: line-through;
}
