
.todo-list {
  height: 275px;
  overflow-y: auto;
}

.todo-item {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  text-align: left;
  width: 100%;
}

.todo-item.done {
  color: #999;
}

.todo-item > div {
  pointer-events: none;
}

.todo-item > .todo-mark {
  border: 1px solid #494949;
  background: transparent;
  cursor: pointer;
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25px;
  height: 25px;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-indent: -999px;
}

.todo-item > .todo-mark:before {
  content: '';
  width: 24px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 3px;
}

.todo-item > .todo-title {
  line-height: 25px;
  margin-left: 15px;
}

.todo-item.done > .todo-mark:before {
  border: 3px solid #797979;
  border-top: none;
  border-right: none;
  background: transparent;
  transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
}

.todo-item.done > .todo-title {
  color: #c9c9c9;
}
